{% extends 'quizz/base0.html' %}
{% block content %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form method="post"  role="form" action="/quizz/newuser">
        {% csrf_token %}
        <br><br><br><br><br>
        <CENTER><input type="text" name="new_username" placeholder="utilisateur">
            <br><br>
        <input type="password" name="new_password" placeholder="mot de passe">
        <br><br>
        <input type="submit" value="créer utilisateur"></CENTER>
    </form>
    {% if error %} 
    {{ error }} 
    {% endif %}
</body>
</html>

{% endblock  %}